.navbar {
  background-color: var(--primary);
  height: 5vh;
}

.navbar-logo {
  width: 100px;
  &:hover {
    cursor: pointer;
  }
}

.navbar-name {
  color: white;
}

.admin-btn {
  width: 100%;
  height: 60px;
  border: none;
  background-color: white;

  &:hover {
    cursor: pointer;
    background-color: #ccc;
  }
}
