.slick-container {
  width: 100%;
  margin-top: 8px;
  background-color: var(--primary);
}

.slider-header {
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  width: fit-content;
  padding: 8px;
  margin-left: 8px;
}

.slider-container {
  padding-left: 8px;
  padding-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .slick-container {
    padding-right: 8px;
  }
}
