.searched-product-container {
  margin-top: 8px;
  padding: 8px 0 46px 8px;
  background-color: white;
  min-height: 840px;
  position: relative;
}

.searched-product-main-body {
  margin-top: 98px;
  gap: 10px;
  padding-right: 0;
  margin-bottom: 10px;
  justify-content: space-evenly;
}
